blazingkraft-ui/node_modules
blazingkraft-ui/.idea
blazingkraft-ui/dist

blazingkraft-api/.idea
blazingkraft-api/.gradle
blazingkraft-api/build
blazingkraft-api/buildSrc/build
blazingkraft-api/buildSrc/.gradle
blazingkraft-api/blazingkraft-admin/build
blazingkraft-api/blazingkraft-audit/build
blazingkraft-api/blazingkraft-authorization/build
blazingkraft-api/blazingkraft-authserver/build
blazingkraft-api/blazingkraft-cache/build
blazingkraft-api/blazingkraft-cleanup/build
blazingkraft-api/blazingkraft-client/build
blazingkraft-api/blazingkraft-common/build
blazingkraft-api/blazingkraft-connect/build
blazingkraft-api/blazingkraft-consumer/build
blazingkraft-api/blazingkraft-core/build
blazingkraft-api/blazingkraft-dao/build
blazingkraft-api/blazingkraft-datamasking/build
blazingkraft-api/blazingkraft-error/build
blazingkraft-api/blazingkraft-files/build
blazingkraft-api/blazingkraft-generator/build
blazingkraft-api/blazingkraft-ksqldb/build
blazingkraft-api/blazingkraft-management/build
blazingkraft-api/blazingkraft-playground/build
blazingkraft-api/blazingkraft-producer/build
blazingkraft-api/blazingkraft-resourceserver/build
blazingkraft-api/blazingkraft-schemaregistry/build
blazingkraft-api/blazingkraft-settings/build
blazingkraft-api/blazingkraft-ws/build