.idea
.gradle
build
buildSrc/build
buildSrc/.gradle

blazingkraft-admin/build
blazingkraft-audit/build
blazingkraft-authorization/build
blazingkraft-authserver/build
blazingkraft-cache/build
blazingkraft-cleanup/build
blazingkraft-client/build
blazingkraft-common/build
blazingkraft-connect/build
blazingkraft-consumer/build
blazingkraft-core/build
blazingkraft-dao/build
blazingkraft-datamasking/build
blazingkraft-error/build
blazingkraft-files/build
blazingkraft-generator/build
blazingkraft-ksqldb/build
blazingkraft-management/build
blazingkraft-playground/build
blazingkraft-producer/build
blazingkraft-resourceserver/build
blazingkraft-schemaregistry/build
blazingkraft-settings/build
blazingkraft-ws/build
tmp